// --------------------
// HEADER
// ------------------
.btn {
	padding: 5px 15px;
	background: var(--message);
    color: var(--white);
	border: 0;
	font-size: 17px;
}
.btn--create{
	padding: 5px;
	background: var(--message);
    color: var(--white);
	border:transparent;
}
.profile-pic{
    background-color:var(--message);
    width: 80px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: relative;
}
.profile-pic__icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.dropdown{
    z-index: 1;
    position: relative;
    display: flex;
    flex-flow: column;

    &__btn{
        cursor: pointer;
    }

    &__content{
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.1s ease-in;
        background:var(--dropdown);
        color: var(--white);
        border: 1px solid var(--border-color);
        
        & button{
            cursor: pointer;
            position: absolute;
            right: 0;
            border: transparent;
            width: 50px;
        }
    }

    &__info{
        margin: 4rem 1rem ;
        text-transform: capitalize;
        display: flex;
        flex-flow: column;
        height: 50%;
        gap: 1rem; 
        
        p{
            margin: 1rem 0;
            padding: 1rem;
            font-size: 1.2em;
            border: 1px solid var(--border-color);
        }
    }

    &__important{
        color: var(--white);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(120%, -50%);
    }
}

.show{
    transform: translateY(1rem);
    visibility: visible;
    opacity: 1;
}
// --------------------
// HEADER
// ------------------

// --------------------
// MAIN
// ------------------
.aside-container{
    display: grid;
    grid-template-rows: 5% 35% 35% 5%;
    row-gap: 1rem;
}
.search{
    &__form{
        display: flex;
        gap: 0.5rem;
        background-color:var(--white);
        width: 100%;
        height: 30px;
        border-radius: 15px;
    }
    &__icon{
        border-radius:inherit;
        transform: translateY(20%);
    }
    &__input{
        width: inherit;
        border-radius: inherit;
        padding-left: 1rem;
    }
}
.container-overflow{
    overflow-y:scroll;
    scrollbar-width:none;
    &::-webkit-scrollbar{
        display: none;
    }
}
.search-results{
   background-color: var(--message);
   margin: 1rem 0;
   padding: 1rem;  
}
.search-result{
    margin: 1rem 0;
    
    button{
        width: 100%;
        font-size: 1rem;
        padding-right: 1rem;
        text-align: left;
        border: transparent;
        background-color: inherit;
        color: var(--white);
        cursor: pointer;

        &:hover{
            background-color:#575e55f5;

        }
    }
    &__name{
        font-size: 1.1em;
    }
    &__code{
        font-size: 0.8em;
        font-style: italic;
    }

}
.active-users{
    color: var(--white);
    background-color: var(--message);

    legend{
        border-bottom: 1px solid var(--border-color);
        padding: 0.5rem;
        text-align: center;
    }
}
.active-user{
    margin-top: 1rem;
    padding-left:1rem;
}




.create-group{
    display: flex;
    flex-flow: column;
}
// --------------------------
// -----------------------------
.chat{
    font-family: monospace;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 10%;
    row-gap: 2rem;
    height: 88%;
    // 
    &__body{
        background-color:var(--black);
        border: 1px solid var(--border-color);
        padding: 1rem;
        overflow-y:scroll;
        scrollbar-width: none;
        display: flex;
        flex-direction: column;

        &::-webkit-scrollbar{
            display: none;
        }
    }
    &__messages{
        background-color: var(--pure-black);
        color: var(--white);
        padding: 0.8rem;
        margin: 0.5rem 0;
        border-radius: 15px;
        width: fit-content;
        position: relative;
    }
    &__time{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50px;
        transform: translateX(20%);
        color: var(--notification);
        padding: 0.5rem;
    }
    &__content{
        border-left: 10px solid var(--notification);
        margin: 0.5rem 0;
        padding-left: 0.5rem;
        min-width: 100px;
        
    }
    &__length{
        display: grid;
        place-content: center;
        width: 30px;
        aspect-ratio: 1/1;
        background-color:var(--notification);
        color: var(--black);
        border-radius: 50%;
    }
    // 
    #{&}form{
        background-color:var(--message);
        border: 1px solid var(--border-color);
        display: flex;
        padding: 0.6rem 1rem;
        gap: 0.2rem;
        border-radius: 30px;
    }
    &__input{
        flex-grow: 1;
        padding: 0.8rem;
        border-radius: 20px;
        font-size:0.9em;
    }
    &__send{
        width: 100px;
        border: 1px solid var(--border-color);
        border-radius: 20px;
        cursor: pointer;
    }
    // 
}
.received{
    align-self: flex-start;
}
.sent{
    align-self: flex-end;
}
.notification{
    max-width: 500px;
    margin: 0.4rem auto;
    font-size: 0.8em;
    padding: 0.2rem;
}
.typing{
    font-family: cursive;
    opacity: 0;
    visibility:hidden;
}
.unhide{
    opacity: 1;
    visibility: visible;
}
// --------------------
// MAIN
// ------------------
