{% extends 'pages/base.html' %}
{% load static %}

{% block title %}
SIGNUP
{% endblock title %}

{% block content %}
<section >
    <figure class="main__image">
        <img src="{% static 'pictures/signup.jpg' %}" alt="" width="100px" height="100px">
    </figure>
</section>
<section class="main__form">
    <legend class="cursive pad-bottom">WELCOME TO SURGE</legend>
    <form action="{% url 'accounts:signup' %}" method="POST" name="signupForm">
        {% csrf_token %}
        <div>
            <label for="id_username">Username</label>
            <input type="text" name="username" placeholder="username" maxlength="100" required id="id_username" autocomplete="off">
        </div>
        <div>
            <label for="id_email">Email address</label></th>
            <input type="email" name="email" placeholder="name@email.com" maxlength="254" id="id_email">
        </div>
        <div>
            <label for="id_password1">Password</label>
            <input type="password" name="password1" autocomplete="off" required id="id_password_1">
        </div>
        <div>
            <label for="id_password2">Password confirmation</label>
            <input type="password" name="password2" autocomplete="off" required id="id_password_2">
        </div>
        <button type="submit" class="btn" id="submitBtn" value='signup'>SIGN UP</button>
    </form>
    <div class="message"></div>
    <p class="pad-top-bottom pad-inline"><span class="dash"></span> or <span class="dash"></span></p> 
    <p class="pad-top-bottom">Already A User? <a href="{% url 'pages:loginpage' %}">LOGIN</a></p>
    <p><a href="{% url 'pages:landingpage' %}">Back</a></p>
</section>
{% endblock content %}